
.greeting{
    font-size: 80px;
    color: #59381b;
}

.land {
    /* border: 2px solid; */
    height: 100%;
    position: absolute;
    padding: 70px;
    left: 300px;
    top: 0px;
    right: 0px;
    justify-content: center;
    align-items: center;
}

.logo-land{
    width: 150px;
    animation: fade-up 0.6s;
}

.info-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro{
    width: 500px;
    font-family: archivo;
    color: #c07245;;
    animation: fade-up 0.6s;
}

.feature-container {
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px; /* Optional: Adds space between the features *//* Ensure it takes the full width */
    flex-wrap: wrap; /* Optional: Allows wrapping of features if there are many */
    padding: 30px;
    animation: fade-up 0.6s;
    border-radius: 40px;
}

.feature{
    background-color: #f5f5f5;
    width: 200px;
    height: 60px;
    border-radius: 80px;
    color: #c07245;
    font-family: archivo;
    font-weight: 400;
    padding: 30px;
    animation: fade-up 0.6s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.begin{
    margin-top: 30px;
    background-color: #ec5220;
    border-radius: 40px;
    padding: 20px;
    width: 150px;
    font-family: archivo;
    animation: fade-up 0.6s;
}
.begin:hover{
    background-color:#f5f5f5;
    color:#39251a;
}
.symbol{
    width: 50px;
}
