.movie-page{
    position: absolute;
    /* border: 4px solid; */
    top: 0;
    left: 300px;
    right: 0;
    padding: 50px;
}

.list-heading{
    color: #3c2b21;
}

.movie-container {
    margin: 40px;
    padding: 40px;
    display: flex;
    border-radius: 30px;
    overflow-x: auto; /* Enable horizontal scrolling */
    overflow-y: hidden; /* Hide vertical scrollbar */
    white-space: nowrap; /* Ensure items stay in a single line */
    background-color: #f0ede4;
}


.movie-container::-webkit-scrollbar {
    height: 10px;
}

.movie-container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

.movie-container::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.list-poster {
    width: 100px;
    margin-right: 10px;
}

.list-movie-title {
    margin: 0;
    font-size: 16px;
    color: #3c2b21;
    font-family: archivo;
    font-weight: 200;
    margin: 10px;
}

.movie-item {
    display: inline-block; /* Ensure items are displayed in a line */
    margin-right: 20px; /* Add space between items */
    flex: 0 0 auto; /* Prevent items from growing */
    min-width: 150px; /* Ensure each item has a minimum width */
}