.movie-app{
    height: 93vh;
    color: #59381b;
    width: 33vw;
    /* background-color: #faf4db1f; */
    background-color: #f5f5f5;
    border: 1px solid rgba(188, 219, 169, 0.374);
    /* border: 10px solid; */
    /* background-image: linear-gradient(rgba(31, 95, 56, 0.57),#7bac52); */
    backdrop-filter: blur(10px);
    border-radius: 15px;
}