#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

.main {
  display: flex;
  justify-content: center; /* Center the content horizontally */
}

.container {
  display: flex;
}

.contents {
  flex-grow: 1; /* Allow the contents to grow and take up remaining space */
}