:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #809b5d;
  background-color: #f0ede4;
  /* background-image: url(./assets/gradientbg.png); */
  /* background-image: url(./assets/bananaAI.jpg); */
  /* background-image: radial-gradient(rgb(252, 230, 170), rgb(255, 255, 233)); */
  background-size: cover; 
  background-attachment: fixed; 
  /* background-image: url(./assets/librarybg.jpg); */
  background-image: -webkit-repeating-radial-gradient(rgb(148, 197, 213),#f0ede4);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
} */

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #da9d9d;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@font-face {
  font-family: 'game';
  src: url(./assets/fonts/game.ttf);
}
@font-face {
  font-family: 'type';
  src: url(./assets/fonts/type.otf);
}
@font-face {
  font-family: 'archivo';
  src: url(./assets/fonts/archivo.ttf);
}
@font-face {
  font-family: 'magilio';
  src: url(./assets/fonts/magilio.ttf);
}

h1{
  font-family: magilio;
}

@keyframes fade-up{
  0% {
      opacity:0;
      transform: translateY(40px) scale(1);
  }
  100% {
      opacity:1;
      transform: translateY(0px) scale(1);
  }
}